.category-bar {
  display: flex;
  margin-top: 16px;
}

.sg-left {
  font-family: "Roboto-Regular";
  font-size: 14px;
  margin-right: 8px;
}

.sg-right {
  font-family: "Roboto-Medium";
  font-size: 14px;
  margin-left: 8px;
}
