.category-bar {
  display: flex;
  margin-top: 16px;
  font-size: 14px;
  color: #001521;
}

.sg-left {
  font-family: "Roboto-Regular";
  margin-right: 8px;
  width: 60px;
  text-align: left;
}

.sg-right {
  font-family: "Roboto-Medium";
  margin-left: 8px;
}
